<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  	<ul class="nav nav-pills">
		  <li role="presentation" class="disabled"><a href="/about"><font color="#BBE42A">About Us</font></a></li>
		  <li role="presentation" class="disabled"><a href="/profile"><font color="#BBE42A">Profile</font></a></li>
		  <li role="presentation" class="disabled"><a href="/artists"><font color="#BBE42A">Artists</font></a></li>
		  <li role="presentation" class="disabled"><a href="/review"><font color="#BBE42A">Review</font></a></li>
		</ul>
  </div>
</nav>

<br>
<br>
<br>