<nav id="nav">
	<a href="/about" class="icon fa-info-circle active"><span>About</span></a>
	<a href="/profile" class="icon fa-user"><span>Profile</span></a>
	<a href="/artists" class="icon fa-users"><span>Artists</span></a>
	<a href="/review" class="icon fa-plus-square"><span>Review</span></a>
</nav>