
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <center>
            <div class="dropup">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" display="inline" float="left">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="/about">About</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/">Sign out</a></li>
                </ul>
            </div>
            <a href="/artists" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-th"></span> Artists</a>
            <a href="/profile" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span> Profile</a>
            <a href="/review" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a>
        </center>
    </div>
</nav>