<!DOCTYPE html>
<html>
<head>
	<title>Music AKA | Life's an Entertainment</title>
	{{> scripts}}
</head>
<body>
{{> nav}}

<div id="main">
	<div id="me" class="panel">
			<center>
		    <font id="biggreen">ABOUT</font> 
		    <font id="biggray">US</font>
		  </center>
			<br>
			<center>
			<div class="about-info">
				<div class="col-md-8 about-grids">
					<h4>We are Arnold, Kyle and Aeri, aka AKA.</h4>
					<br>
					<div class="banner-bottom-video-grid-left">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-heading">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<center>Our Origins</center>
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										Formed in 2016 in the studio, Spreading Stories and Empathy in CSE 170/COGS 120.
										Our application was born out of our mutual love for music and sharing.
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-heading">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
										<center>Our Purpose</center>
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									As computer science students aat the University of California, San Diego,
									we are interested in technology and music. Having the
									ability to spread stories and empathy about music with technology is exciting.
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
					<center>
				    <font id="biggreen">OUR</font> 
				    <font id="biggray">MISSION</font><br>
				  </center>			<div class="testimonials-grid-left1">
									<img src="img/story.png" alt=" " class="img-responsive" />
								</div>
								<div class="testimonials-grid-right1">
									<p><span>S</span>tory-telling. Have an outlet to express your emotions.
									How do you feel? How does the music make you feel? We want our
									users to feel the full experience of music.
									</p>
								</div>
								<div class="clearfix"> </div>

							
								<div class="testimonials-grid-left1">
									<img src="img/discovery.png" alt=" " class="img-responsive" />
								</div>
								<div class="testimonials-grid-right1">
									<p><span>D</span>iscovery. Find out about something new!
									Connect with friends and official artists to share
									recommendations, playlists and the latest music updates.</p>
								</div>
								<div class="clearfix"> </div>
													
								<div class="testimonials-grid-left1">
									<img src="img/creativity.png" alt="" class="img-responsive" />
								</div>
								<div class="testimonials-grid-right1">
									<p><span>C</span>reativity. There is a large amount of
									innovation and creativity behind the design of our app. 
									We are always on the hunt for the latest and greatest.
									</p>	
								</div>
								<div class="clearfix"> </div>
								<br>

				</div>
			</div>
			</center>
		</div>

				<div class="col-md-7 team">
					<!--team-->
					<div class="team">
						<h3 class="tittle">Meet the Team</h3>
						<!-- flex-slider -->
						<div class="work-bottom">
							<div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -285px; display: block;">																																		
								<li class="nbs-flexisel-item" style="width: 285px;">
									<div class="team-left">
										<img src="img/arnold.jpg" alt="" id="PFP">
										<div class="team-bottom">
											<h4 style="color:white;">Arnold C.</h4>
										</div>
									</div>
								</li>
								<li class="nbs-flexisel-item" style="width: 285px;">
									<div class="team-left">
										<img src="img/kyle.jpg" alt="" id="PFP">
										<div class="team-bottom">
											<h4 style="color:white;">Kyle Z.</h4>
										</div>
									</div>
								</li>
								<li class="nbs-flexisel-item" style="width: 285px;">
									<div class="team-left">
										<img src="img/aeri.jpg" alt="" id="PFP">
										<div class="team-bottom">
											<h4 style="color:white;">Aeri I.</h4>
										</div>
									</div>
								</li>
							</ul>
							<div class="nbs-flexisel-nav-left" style="top: 138px;"></div><div class="nbs-flexisel-nav-right" style="top: 138px;"></div></div></div>
								<script type="text/javascript">
										$(window).load(function() {
											$("#flexiselDemo1").flexisel({
												visibleItems: 3,
												animationSpeed: 1000,
												autoPlay: true,
												autoPlaySpeed: 3000,    		
												pauseOnHover: true,
												enableResponsiveBreakpoints: true,
												responsiveBreakpoints: { 
													portrait: { 
														changePoint:480,
														visibleItems: 2
													}, 
													landscape: { 
														changePoint:640,
														visibleItems: 3
													},
													tablet: { 
														changePoint:768,
														visibleItems: 3
													}
												}
											});
											
										});
								</script>
								<script type="text/javascript" src="js/jquery.flexisel.js"></script>				
								<!-- //flex-slider -->	
						</div>
					</div>	
					<!--//team-->

				<div class="col-md-4 about-grids">
					<h3 class="tittle">Short Blurbs</h3>
					<div class="pince">
						<div class="pince-left">
							<h5>01</h5>
						</div>
						<div class="pince-right">
							<p style="color:white;">Arnold likes to watch movies in his spare time.
							You can find him at the theatres and on Netflix.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>02</h5>
						</div>
						<div class="pince-right">
							<p style="color:white;">Kyles like to produce music as a side hobby.
							You can find him at every electronic music event.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>03</h5>
						</div>
						<div class="pince-right">
							<p style="color:white;">Aeri likes to travel and explore the world.
							You can find her relaxing at the beach under the SoCal sun.</p>
							<br>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
	</div>
				</div>
			</div>
	</div>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>