<!DOCTYPE html>
<html>
<head>
	<title>Music AKA | Life's an Entertainment</title>
	{{> scripts}}
</head>
<body>
{{> nav}}
<!-- banner -->
<div class="banner">
	<div class="col-md-10 banner-right">
		<div class="navigation">
		</div>
			<div class="col-md-2 banner-left">
				<h1><a href="/index">ACCOUNT<span></span> <i>RECOVERY<span></span></i></a></h1>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>


<!-- FORGOT PASSWORD FORM -->
<div class="text-center" style="padding:50px 0">
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="forgot-password-form" class="text-left">
			<div class="etc-login-form">
				<br>
				<br>
				<p>When you fill in your registered email, you will be sent instructions on how to reset your password.</p>
			</div>
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="fp_email" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="Enter your email here">
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2 style="color:white;">Are you a new user? <a href="/registration" style="color:white;"><u>Register here</u></a></h2>
				<h2 style="color:white;">Have an account? <a href="/" style="color:white;"><u>Login here</u></a></h2>
				<br>
				<br>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
</body>
</html>