<!DOCTYPE html>
<html>
<head>
<title>Music AKA | Life's an Entertainment</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=""/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<script src="js/modernizr.custom.js"></script>
<link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
	<script src="js/hover_pack.js"></script>
</head>
<body>

<!-- banner -->
<div class="banner">
	<div class="col-md-10 banner-right">
		<div class="navigation">
			<div class="nav-left">
				<span class="menu"><img src="img/menu.png" alt=""/></span>
						<ul class="nav1">
							<li class="hvr-underline-from-left button2"><a class="active" href="/index">Home</a></li>
							<li class="hvr-underline-from-left button2"><a href="/about">About</a></li>
							<li class="hvr-underline-from-left button2"><a href="/artists">Artists</a></li>
							<li class="hvr-underline-from-left button2"><a href="/shortcodes">Short Codes</a></li>
							<li class="hvr-underline-from-left button2"><a href="/contact">Contact</a></li>
						</ul>
						<!-- script for menu -->
							<script> 
								$( "span.menu" ).click(function() {
								$( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								});
								});
							</script>
						<!-- //script for menu -->
			</div>
	<div class="col-md-2 banner-left">
		<h1><a href="/index">MU<span>SIC</span> <i>ART<span>ISTS</span></i></a></h1>
	</div>
	
	<div class="clearfix"></div>
	
		<!--gallery-starts--> 
			<div class="gallery">
					 <script src="js/lightbox.js"></script>
						<div class="gallery-bottom">
							<div class="view view-ninth">
								<img src="img/g1.jpg" alt="">
							   <a class="example-image-link" href="img/g1.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<!--<a href="/artists/{{id}}"><h4>TAYLOR SWIFT</h4></a>-->
									<a href="/artists/taylor-swift"><h4>TAYLOR SWIFT</h4></a>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								</div></a>
							</div>
							<div class="view view-ninth">
								<img src="img/g2.jpg" alt="">
							   <a class="example-image-link" href="img/g2.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<h4>MUSIC LIFE</h4>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
									
								</div></a>
							</div>
							<div class="view view-ninth">
								<img src="img/g3.jpg" alt="">
							   <a class="example-image-link" href="img/g3.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<h4>MUSIC LIFE</h4>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								   
								</div></a>
							</div>
							<div class="view view-ninth">
								<img src="img/g4.jpg" alt="">
							   <a class="example-image-link" href="img/g4.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<h4>MUSIC LIFE</h4>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								   
								</div></a>
							</div>
							<div class="view view-ninth">
								<img src="img/g5.jpg" alt="">
							   <a class="example-image-link" href="img/g5.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<h4>MUSIC LIFE</h4>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								   
								</div></a>
							</div>
							<div class="view view-ninth">
								<img src="img/g6.jpg" alt="">
							   <a class="example-image-link" href="img/g6.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<h4>MUSIC LIFE</h4>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								   
								</div></a>
							</div>
							<div class="view view-ninth">
								<img src="img/g7.jpg" alt="">
							   <a class="example-image-link" href="img/g7.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<h4>MUSIC LIFE</h4>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								   
								</div></a>
							</div>
							<div class="view view-ninth">
								<img src="img/g8.jpg" alt="">
							   <a class="example-image-link" href="img/g8.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<h4>MUSIC LIFE</h4>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								   
								</div></a>
							</div>
							<div class="view view-ninth">
								<img src="img/g2.jpg" alt="">
							   <a class="example-image-link" href="img/g2.jpg" data-lightbox="example-1" data-title="Music Life">
								<div class="mask mask-1"></div>
								<div class="mask mask-2"></div>
								<div class="content">
									<h4>MUSIC LIFE</h4>
									<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								</div></a>
							</div>
							<div class="clearfix"> </div>
						</div>
			</div>
		<!--gallery-ends--> 
	</div>
	<div class="clearfix"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<center>
			<a href="/artists" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span> Artists</a>
			<a href="/review" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span> Review</a>
  		<a href="/profile" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> Profile</a>
  	</center>
  </div>
</nav>

</div>
	<div class="clearfix"></div>
</div>

<!-- //banner -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>