<!DOCTYPE html>
<html>
<head>
	<title>Music AKA | Life's an Entertainment</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content=""/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="../css/lightbox.css" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="../css/component.css" />
	<script src="../js/modernizr.custom.js"></script>
	<link href="../css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script src="../js/jquery-1.11.1.min.js"></script>
	<!-- //js -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../js/move-top.js"></script>
	<script type="text/javascript" src="../js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<script src="../js/hover_pack.js"></script>

	<!-- SlidesJS Optional: If you'd like to use this design -->
  <style>
    body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
    }

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../img/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
  </style>
  <!-- End SlidesJS Optional-->

  <!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
  <style>
    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        /*padding-left: 20px;
        padding-right: 20px;*/
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }
  </style>
  <!-- SlidesJS Required: -->
</head>
<body>

<!-- banner -->
<div class="banner">
	<div class="col-md-10 banner-right">
		<div class="navigation">
			<div class="nav-left">
				<span class="menu"><img src="../img/menu.png" alt=""/></span>
						<ul class="nav1">
							<li class="hvr-underline-from-left button2"><a class="active" href="/index">Home</a></li>
							<li class="hvr-underline-from-left button2"><a href="/about">About</a></li>
							<li class="hvr-underline-from-left button2"><a href="/artists">Artists</a></li>
							<li class="hvr-underline-from-left button2"><a href="/shortcodes">Short Codes</a></li>
							<li class="hvr-underline-from-left button2"><a href="/contact">Contact</a></li>
						</ul>
						<!-- script for menu -->
							<script> 
								$( "span.menu" ).click(function() {
								$( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								});
								});
							</script>
						<!-- //script for menu -->
			</div>
			<div class="col-md-2 banner-left">
				<h1><a href="/index">TAYLOR <i>SWIFT</i></a></h1>
			</div>
		</div>

		<div class="container">
			<center>
			<div class="rating">
		    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
			<img id="PFP" class="thumbnail" src="../img/tf0.png">

			<h3 id="tittle">About Me</h3>
	 		<p>Hello, my name is Taylor Swift.<br><br></p>
			</center>


				<!-- SlidesJS Required: Start Slides -->
			  <!-- The container is used to define the width of the slideshow -->
			  <div class="container">
			    <div id="slides">
			      <img src="../img/example-slide-1.jpg">
			      <img src="../img/example-slide-2.jpg">
			      <img src="../img/example-slide-3.jpg">
			      <img src="../img/example-slide-4.jpg">
			    </div>
			  </div>
			  <!-- End SlidesJS Required: Start Slides -->

			  <!-- SlidesJS Required: Link to jQuery -->
			  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
			  <!-- End SlidesJS Required -->

			  <!-- SlidesJS Required: Link to jquery.slides.js -->
			  <script src="../js/jquery.slides.min.js"></script>
			  <!-- End SlidesJS Required -->

			  <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
			  <script>
			    $(function() {
			      $('#slides').slidesjs({
			        width: 940,
			        height: 528,
			        play: {
			          active: true,
			          auto: true,
			          interval: 4000,
			          swap: true
			        }
			      });
			    });
			  </script>
			  <!-- End SlidesJS Required -->

		  <!--
			<div id="coverflow">
        <div class="covers">
          <ul>
            <li><div class="imgdiv">
              <a href="../img/tf1.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
                <img src="../img/tf1.jpg" alt="">
              </a>
            	</div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf2.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
                <img src="../img/tf2.jpg" alt="">
              </a>
              </div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf3.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
                <img src="../img/tf3.jpg" alt="">
              </a>
              </div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf4.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
                <img src="../img/tf4.jpg" alt="">
              </a>
              </div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf5.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
              	<img src="../img/tf5.jpg" alt="">
              </a>
              </div>
            </li>
            <li><div class="imgdiv">
              <a href="../img/tf6.jpg" data-gallery="gallery" data-cap="lightbox caption 03">
             		<img src="../img/tf6.jpg" alt="">
              </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      -->
		<div class="clearfix"></div>
	
		<div class="features-main">
				<div class="fea-top">
				  <h3 class="tittle">REVIEWS</h3>
				</div>
				<div class="feature-botttom">
							<div class="col-md-6 fea-grid">
								<div class="col-md-5 fea-img">
									<img src="../img/g2.jpg" alt="" />
								</div>
								<div class="col-md-7 fea-text">
									<h4>Experience 4</h4>
									<p>I went to Coachella for the very first time and saw so many new artists.</p>
								 </div>
							  <div class="clearfix"> </div>
							</div>
							<div class="col-md-6 fea-grid">
								<div class="col-md-5 fea-img">
									<img src="../img/g6.jpg" alt="" />
								</div>
								<div class="col-md-7 fea-text">
									<h4>Experience 3</h4>
									<p>It was my third time watching Porter Robinson live and he sounded amazing.</p>
								</div>
							</div>
							<div class="col-md-6 fea-grid">
								<div class="col-md-5 fea-img">
									<img src="../img/g7.jpg" alt="" />
								</div>
								<div class="col-md-7 fea-text">
									<h4>Experience 2</h4>
									<p>I wished that the ambience at the Music Cafe felt more authentic.</p>
								</div>
							  <div class="clearfix"> </div>
							</div>
							<div class="col-md-6 fea-grid">
								<div class="col-md-5 fea-img">
									<img src="../img/g8.jpg" alt="" />
								</div>
								<div class="col-md-7 fea-text">
									<h4>Experience 1</h4>
									<p>Taylor Swift brought out a surprise guest at her show today!
									I was totally not expecting to see Adele sing there.</p>
								</div>
							</div>
						   <div class="clearfix"> </div>
				</div>
			</div>

	</div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<center>
			<a href="/artists" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span> Artists</a>
			<a href="/review" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span> Review</a>
  		<a href="/profile" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> Profile</a>
  	</center>
  </div>
</nav>

</div>
	<div class="clearfix"></div>
</div>

<!-- //banner -->
<!-- for bootstrap working -->
	<script src="../js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {						
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>