<!DOCTYPE html>
<html>
<head>
<title>Music AKA | Life's an Entertainment</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=""/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<script src="js/modernizr.custom.js"></script>
<link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
	<script src="js/hover_pack.js"></script>
</head>
<body>
<!-- banner -->
<div class="banner">
	<div class="col-md-10 banner-right">
		<div class="navigation">
			<div class="nav-left">
				<span class="menu"><img src="img/menu.png" alt=""/></span>
						<ul class="nav1">
							<li class="hvr-underline-from-left button2"><a href="/index">Home</a></li>
							<li class="hvr-underline-from-left button2"><a href="/about">About</a></li>
							<li class="hvr-underline-from-left button2"><a href="/artists">Artists</a></li>
							<li class="hvr-underline-from-left button2"><a href="/shortcodes">Short Codes</a></li>
							<li class="hvr-underline-from-left button2"><a class="active" href="/contact">Contact</a></li>
						</ul>
						<!-- script for menu -->
							<script> 
								$( "span.menu" ).click(function() {
								$( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								});
								});
							</script>
						<!-- //script for menu -->
			</div>
			<div class="col-md-2 banner-left">
				<h1><a href="/index">MU<span>SIC</span> <i>AKA</i></a></h1>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- banner-albums -->
		<div class="banner-albums">
			<div id="portfoliolist">
							<div class="port-grid">
								<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b1.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Rock</p>
														 <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>				
								<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b2.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">African</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>		
							</div>	
							<div class="port-grid">
								<div class="portfolio mov mix_all" data-cat="mov" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b3.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Hip Hop</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>	
								<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b6.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Folk</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>			
								
							</div>
							<div class="port-grid">
								<div class="portfolio mov mix_all" data-cat="mov" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b5.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Indie</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>
								<div class="portfolio set mix_all" data-cat="set" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b10.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">College</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>
							</div>	
							<div class="port-grid">
								<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b4.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Punk</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>				
								<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b8.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Art Punk</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>		
							</div>
							<div class="port-grid">
								<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b9.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Jazz</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>				
								<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b7.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Rock</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>		
							</div>	
							<div class="clearfix"></div>
			</div>
		</div>
		<!-- //banner-albums -->
		<!-- contact -->
		<div class="contact-top">
				<h3 class="tittle">VIEW ON MAP</h3>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819"></iframe>
				</div>
				<h3 class="tittle">CONTACT FORM</h3>
					<div class="contact-form">
						<form>
							<input type="text" placeholder="Name" required="">
							<input type="text" placeholder="Email" required="">
							<input type="text" placeholder="Subject" required="">
							<textarea placeholder="Message" required=""></textarea>
							<input type="submit" class="form-control" value="submit">
						</form>
					</div>
				<br>
		</div>
		<!-- //contact -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<center>
			<a href="/artists" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-home"></span> Artists</a>
			<a href="/review" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Review</a>
  		<a href="/profile" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user"></span> Profile</a>
  	</center>
  </div>
</nav>

	</div>
	<div class="clearfix"></div>
</div>

<!-- //banner -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>