<!DOCTYPE html>
<html>
<head>
	<title>Music AKA | Life's an Entertainment</title>
	{{> scripts}}
</head>
<body>
{{> nav}}
<!-- banner -->
<div class="banner">
	<div class="col-md-10 banner-right">
		<div class="navigation" style="padding:5px 0 10px 0px;">
			<div class="nav-left">
				<a href="/profile"><span class="menu"><img src="img/back.png" alt=""/></span></a>
			</div>
			<div class="clearfix"></div>
			<center>
		    <font id="biggreen">EDIT</font> 
		    <font id="biggray">PROFILE</font>
		  </center>
		</div>

		<!-- contact -->
		<div class="contact-top" style="padding:0px 12px;">
				<div class="contact-form" >


					<form>
						<textarea placeholder="About Me" required="" maxlength="300" id="aboutme" name="aboutme"></textarea>
		    		<br>
		    		<input type="text" placeholder="Favorite artist #1" required="" id="fav1">
						<input type="text" placeholder="Favorite artist #2" required="" id="fav2">
						<input type="text" placeholder="Favorite artist #3" required="" id="fav3">
					<br><br>
		    		<input type="text" placeholder="Genre #1" required="" id="gen1">
						<input type="text" placeholder="Genre #2" required="" id="gen2">
						<input type="text" placeholder="Genre #3" required="" id="gen3">
						<br><br>
						<input type="submit" class="form-control" value="submit" id="submitprofile">
						<br>
					</form>
				</div>
		</div>
</body>
</html>