<!DOCTYPE html>
<html>
<head>
	<title>Music AKA | Life's an Entertainment</title>
	{{> scripts}}
</head>

<body>
{{> nav}}

	<div id="wrapper">
		<div class="banner">
			<div class="col-md-10 banner-right">
				<div class="col-md-2 banner-left">
					<h1><a href="/index">MU<span>SIC</span> <i>AKA</i></a></h1>
				</div>
				<div class="clearfix"></div>
			</div>

		<div class="banner-albums">
			<div id="portfoliolist">
				<div class="port-grid">
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
							<img class="img-responsive lot" src="img/b1.jpg" alt="">
							<div class="b-wrapper">
								<div class="b-animate b-from-left b-delay03 ">
									<p class="plus">Rock</p>
									<div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
									<div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
								</div>
							</div>
						</a>						
						</div>
					</div>				
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
									<img class="img-responsive lot" src="img/b2.jpg" alt="">
									 <div class="b-wrapper">
										<div class="b-animate b-from-left b-delay03 ">
											 <p class="plus">African</p>
											  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
											 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
										</div>
									</div>
								</a>						
							</div>
						</div>		
					</div>	
					<div class="port-grid">
						<div class="portfolio mov mix_all" data-cat="mov" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper">
									<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go" >
										<img class="img-responsive lot" src="img/b3.jpg" alt="">
										 <div class="b-wrapper">
											<div class="b-animate b-from-left b-delay03 ">
												 <p class="plus">Hip Hop</p>
												  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
												 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
											</div>
										</div>
									</a>						
								</div>
							</div>	
						<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
									<img class="img-responsive lot" src="img/b6.jpg" alt="">
									 <div class="b-wrapper">
										<div class="b-animate b-from-left b-delay03 ">
											 <p class="plus">Folk</p>
											  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
											 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
										</div>
									</div>
								</a>						
							</div>
						</div>					
					</div>
					<div class="port-grid">
						<div class="portfolio mov mix_all" data-cat="mov" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper">
									<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
										<img class="img-responsive lot" src="img/b5.jpg" alt="">
										 <div class="b-wrapper">
											<div class="b-animate b-from-left b-delay03 ">
												 <p class="plus">Indie</p>
												  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
												 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
											</div>
										</div>
									</a>						
								</div>
							</div>
							<div class="portfolio set mix_all" data-cat="set" style="display: inline-block; opacity: 1;">
									<div class="portfolio-wrapper">
										<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
											<img class="img-responsive lot" src="img/b10.jpg" alt="">
											 <div class="b-wrapper">
												<div class="b-animate b-from-left b-delay03 ">
													 <p class="plus">College</p>
													  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
													 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
												</div>
											</div>
										</a>						
									</div>
							</div>
						</div>	
						<div class="port-grid">
							<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
									<div class="portfolio-wrapper">
										<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
											<img class="img-responsive lot" src="img/b4.jpg" alt="">
											 <div class="b-wrapper">
												<div class="b-animate b-from-left b-delay03 ">
													 <p class="plus">Punk</p>
													  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
													 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
												</div>
											</div>
										</a>						
									</div>
								</div>				
							<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
									<div class="portfolio-wrapper">
										<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
											<img class="img-responsive lot" src="img/b8.jpg" alt="">
											 <div class="b-wrapper">
												<div class="b-animate b-from-left b-delay03 ">
													 <p class="plus">Art Punk</p>
													  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
													 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
												</div>
											</div>
										</a>						
									</div>
								</div>		
							</div>
							<div class="port-grid">
								<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b9.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Jazz</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>				
								<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b7.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Rock</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>		
							</div>	
						<div class="clearfix"></div>
					</div>
				</div>
			<!-- banner-bottom -->
			<div class="banner-bottom text-center">
			
					<h3>Hello, there</h3>
					<!-- LOGIN FORM -->
		<div class="text-center" style="padding:5px 0">
			<!-- Main Form -->
			<div class="login-form-1">
				<form id="login-form" class="text-left">
					<div class="login-form-main-message"></div>
					<div class="main-login-form">
						<div class="login-group">
							<div class="form-group">
								<label for="lg_username" class="sr-only">Username</label>
								<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
							</div>
							<div class="form-group">
								<label for="lg_password" class="sr-only">Password</label>
								<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
							</div>
							<!--<div class="form-group login-group-checkbox">
								<input type="checkbox" id="lg_remember" name="lg_remember">
								<label for="lg_remember">Remember me</label>
							</div>-->
						</div>
						<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
					</div>
					<div class="etc-login-form"><br>
						<h2 style="color:white;">New user? <a href="/registration" style="color:white;"><u>Register here</u></a></h2>
						<h2 style="color:white;">Forgot your password? <a href="/accountrecovery" style="color:white;"><u>Click here</u></a></h2>
					</div>
				</form>
			</div>
			<!-- end:Main Form -->
		</div>			
	</div>
</body>
</html>