<!DOCTYPE html>
<html>
<head>
<title>Music AKA | Life's an Entertainment</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=""/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<script src="js/modernizr.custom.js"></script>
<link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
	<script src="js/hover_pack.js"></script>
</head>
<body>
<!-- banner -->
<div class="banner">
	<div class="col-md-10 banner-right">
		<div class="navigation">
			<div class="nav-left">
				<span class="menu"><img src="img/menu.png" alt=""/></span>
						<ul class="nav1">
							<li class="hvr-underline-from-left button2"><a class="active" href="/index">Home</a></li>
							<li class="hvr-underline-from-left button2"><a href="/about">About</a></li>
							<li class="hvr-underline-from-left button2"><a href="/artists">Artists</a></li>
							<li class="hvr-underline-from-left button2"><a href="/profile">Profile</a></li>
							<li class="hvr-underline-from-left button2"><a href="/shortcodes">Short Codes</a></li>
							<li class="hvr-underline-from-left button2"><a href="/contact">Contact</a></li>
						</ul>
						<!-- script for menu -->
							<script> 
								$( "span.menu" ).click(function() {
								$( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								});
								});
							</script>
						<!-- //script for menu -->
			</div>
			<div class="nav-right">
				<ul>
					<a href="#" class="btn btn-block btn-social btn-facebook">
						<span class="fa fa-facebook"></span> Sign In
					</a>
				</ul>				
			</div>
			<div class="col-md-2 banner-left">
				<h1><a href="/index">MU<span>SIC</span> <i>AKA</i></a></h1>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="banner-albums">
			<div id="portfoliolist">
							<div class="port-grid">
								<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b1.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Rock</p>
														 <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>				
								<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b2.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">African</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>		
							</div>	
							<div class="port-grid">
								<div class="portfolio mov mix_all" data-cat="mov" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go" >
												<img class="img-responsive lot" src="img/b3.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Hip Hop</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>	
								<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b6.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Folk</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>			
								
							</div>
							<div class="port-grid">
								<div class="portfolio mov mix_all" data-cat="mov" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b5.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Indie</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>
								<div class="portfolio set mix_all" data-cat="set" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b10.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">College</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>
							</div>	
							<div class="port-grid">
								<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b4.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Punk</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>				
								<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b8.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Art Punk</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>		
							</div>
							<div class="port-grid">
								<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b9.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Jazz</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>				
								<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go">
												<img class="img-responsive lot" src="img/b7.jpg" alt="">
												 <div class="b-wrapper">
													<div class="b-animate b-from-left b-delay03 ">
														 <p class="plus">Rock</p>
														  <div class="port-like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>3</div>
														 <div class="port-heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>3</div>
													</div>
												</div>
											</a>						
										</div>
								</div>		
							</div>	
							<div class="clearfix"></div>
			</div>
		</div>
		<!-- banner-bottom -->
			<div class="banner-bottom text-center">
			
					<h3>HELLO THERE</h3>
					<h4>Welcome to the world of music aka</h4>
					<p> We are glad you stopped by!<br> 
					Share your music story and join the community now.</p>
			</div>

		<!-- latest
		<div class="latest">
				<h3 class="tittle">FEEL THE MUSIC</h3>
				<div class="tip-grids">
					<div class="col-md-5 tip-grid">
						<figure class="effect-julia">
							<img src="img/99.jpg" alt="" />
								<figcaption>
									<h4>FEATURED MUSIC</h4>
										<p>Featured Artist 1</p>
										<p>Featured Artist 2</p>
										<p>Featured Artist 3</p>
								</figcaption>			
						</figure>
					</div>
					<div class="col-md-7 tip-grid-right">
						<div class="tip-gd-left">
							<div class="micro-left">
								<img src="img/11.png" alt="" />
							</div>
							<div class="micro-right">
								<h4>Spotlight</h4>
								<p> Zayn's 'Pillowtalk' Debuts at No. 1 on Hot 100. The former One Direction member launches on top with his first solo single. Plus, Drake debuts at No. 6 with "Summer Sixteen" and G-Eazy and Bebe Rexha reach the top 10 with "Me, Myself & I."
								<a href="#">Find out more...</a></p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="tip-gd-left">
							<div class="micro-left">
								<img src="img/22.png" alt="" />
							</div>
							<div class="micro-right">
								<h4>Coming Soon</h4>
								<p> After destroying Winterfest at Park City Utah with his set, Skrillex sat down with Billboard to chat about Jack U, his collaborative project with Diplo, in the midst of Sundance 2015. According to Skrillex, Jack U will be releasing a "mini-album or EP" in a time frame that's "sooner than later." <a href="#">Find out more...</a></p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

		</div>

		<div class="effect-grid">
				<h3 class="tittle">UPCOMING EVENTS</h3>
				<ul class="grid cs-style-3">
				<li>
					<figure>
						<img src="img/g1.jpg" alt="img02">
						<figcaption>
							<h4>Experience 1</h4>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/g2.jpg" alt="img03">
						<figcaption>
							<h4>Experience 2</h4>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/g3.jpg" alt="img06">
						<figcaption>
							<h4>Experience 3</h4>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/g4.jpg" alt="img04">
						<figcaption>
							<h4>Experience 4</h4>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/g5.jpg" alt="img05">
						<figcaption>
							<h4>Experience 5</h4>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/g6.jpg" alt="img01">
						<figcaption>
							<h4>Experience 6</h4>
						</figcaption>
					</figure>
				</li>
			</ul>

		</div>
		
		<div class="best-music text-center">
				<h3 class="tittle">CONNECTION CORNER</h3>
				<div class="servc-grids">
					<div class="col-md-3 servc-grid">
						<div class="servc-icon hi-icon-effect-8">
							<a href="#" class="hi-icon hi-icon-archive"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span></a>
						</div>
						<h4>Your Profile</h4>
						<p><i>Introduce yourself</i></p>
					</div>
					<div class="col-md-3 servc-grid">
						<div class="servc-icon hi-icon-effect-8">
							<a href="#" class="hi-icon hi-icon-archive"><span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span></a>
						</div>
						<h4>Your Community</h4>
						<p><i>Meet others</i></p>
					</div>
					<div class="col-md-3 servc-grid">
						<div class="servc-icon hi-icon-effect-8">
							<a href="#" class="hi-icon hi-icon-archive"><span class="glyphicon glyphicon glyphicon-facetime-video" aria-hidden="true"></span></a>
						</div>
						<h4>Explore</h4>
						<p><i>Discover something new</i></p>
					</div>
					<div class="col-md-3 servc-grid">
						<div class="servc-icon hi-icon-effect-8">
							<a href="#" class="hi-icon hi-icon-archive"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
						</div>
						<h4>Favorites</h4>
						<p><i>Same old love</i></p>
					</div>
					<div class="clearfix"> </div>
				</div>
		</div>
		
		<div class="footer">
				<div class="col-md-3 footer-grid">
					<h2><a href="/index">ARTISTS</a></h2>		
				</div>
				<div class="col-md-3 footer-grid">
					<h2><a href="/index">EXPERIENCE</a></h2>
				</div>
				<div class="col-md-3 footer-grid">
					<h2><a href="/index">PROFILE</a></h2>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>-->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<center>
			<a href="/artists" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-home"></span> Artists</a>
			<a href="/review" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Review</a>
  		<a href="/profile" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user"></span> Profile</a>
  	</center>
  </div>
</nav>

<!-- //banner -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>