<!DOCTYPE html>
<html>
<head>
<title>Music AKA | Life's an Entertainment</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=""/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<script src="js/modernizr.custom.js"></script>
<link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
	<script src="js/hover_pack.js"></script>
</head>
<body>
<!-- banner -->
<div class="banner">
	<div class="col-md-10 banner-right">
		<div class="navigation">
			<div class="nav-left">
				<span class="menu"><img src="" alt=""/></span>
			</div>
			<div class="clearfix"></div>
			
			<div class="container">
				<center>
	    		<font id="biggreen" contentEditable="true">Aeri</font> 
	    		<font id="biggray" contentEditable="true">Iamsirithaworn</font>
	    		<br>
	    		<br>
	        <img id="PFP" class="thumbnail" src="img/aeri.jpg">

	        <a href="/editprofile" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> Edit Profile</a>

	      </center>



	 			<div class="testimonials-grid">
					<div class="testimonials-grid-left1">
						<img src="img/story.png" alt=" " class="img-responsive" />
					</div>

					<div class="testimonials-grid-right1" id="aboutme" contentEditable="true">
						<!--<p><span>H</span>ello!</p>-->
                        <!-- My name is Aeri and I like listening to all different kinds of music.
                        I live in San Diego, California and enjoy going to the beach.
						</p>--> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>

		<!-- interests -->
			<div class="featured-services">
				<div class="featured-services-grids">
					<div class="col-md-3 featured-services-grid">
						<div class="featured-services-grd">
							<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							<h4>Favorites</h4>
							<p contentEditable="true"><a href="artist/taylor-swift"><u>Taylor Swift</u></a><br>
							<a href="artist/porter-robinson"><u>Porter Robinson</u><br></a>
							<a href="artist/kanye-west"><u>Kanye West</u><br></a>
							</p>
						</div>
					</div>
					<div class="col-md-3 featured-services-grid">
						<div class="featured-services-grd">
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<h4>Venues</h4>
							<p contentEditable="true">Coachella<br>
							CRSDD<br>
							EDC<br>
							</p>
						</div>
					</div>
					<div class="col-md-3 featured-services-grid">
						<div class="featured-services-grd">
							<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
							<h4>Genres</h4>
							<p contentEditable="true">Hip Hop<br>

							Acoustic<br>
							Pop<br>
							</p>
						</div>
					</div>
					<div class="col-md-3 featured-services-grid">
						<div class="featured-services-grd">
							<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
							<h4>Moods</h4>
							<p contentEditable="true">Excited<br>
							Confused<br>
							Enraged<br>
							</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>	
		<!-- //features -->
			<div class="features-main">
				<div class="fea-top">
				  <h3 class="tittle">MEMORY LANE</h3>
				</div>
				<div class="feature-botttom">
					<div class="col-md-6 fea-grid">
						<div class="col-md-5 fea-img">
							<img src="img/g7.jpg" alt="" />
						</div>
						<div class="col-md-7 fea-text">
							<h4>Experience 4</h4>
							<p contentEditable="true">I went to Coachella for the very first time and saw so many new artists.</p>
						 </div>
					  <div class="clearfix"> </div>
					</div>
					<div class="col-md-6 fea-grid">
						<div class="col-md-5 fea-img">
							<img src="img/g6.jpg" alt="" />
						</div>
						<div class="col-md-7 fea-text">
							<h4>Experience 3</h4>
							<p contentEditable="true">It was my third time watching Porter Robinson live and he sounded amazing.</p>
						</div>
					</div>
					<div class="col-md-6 fea-grid">
						<div class="col-md-5 fea-img">
							<img src="img/g8.jpg" alt="" />
						</div>
						<div class="col-md-7 fea-text">
							<h4>Experience 2</h4>
							<p contentEditable="true">I wished that the ambience at the Music Cafe felt more authentic.</p>
						</div>
					  <div class="clearfix"> </div>
					</div>
					<div class="col-md-6 fea-grid">
						<div class="col-md-5 fea-img">
							<img src="img/tf1.jpg" alt="" />
						</div>
						<div class="col-md-7 fea-text">
							<a href="artist/taylor-swift"><h4><u>Taylor Swift</u></h4></a>
							<p contentEditable="true">Taylor Swift brought out a surprise guest at her show today!
							I was totally not expecting to see Adele sing there.</p>
						</div>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		
		</div>
		<div class="clearfix"></div>
	</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<center>
			<div class="dropup">  		
  			<button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" display="inline" float="left">
			    <span class="glyphicon glyphicon-menu-hamburger"></span>
			  </button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			    <li><a href="/about">About</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="/">Sign out</a></li>
			  </ul>
			</div>
			<a href="/artists" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-th"></span> Artists</a>
  		<a href="/profile" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> Profile</a>
			<a href="/review" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a>
  	</center>
  </div>
</nav>


<!-- //banner -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->


    <script src="../js/AKAProject.js"></script>
</body>
</html>