@import url(https://fonts.googleapis.com/css?family=Arvo);

#logo {
	font-family: 'Arvo', serif;
	font-size: 55px;
	font-weight: bold;
}
#title {
	font-family: 'Arvo', serif;
	font-size: 30px;
}
#searchbar {
	padding: 20px;
	box-shadow: 10px 10px 5px #888888;
}
#artistname {
	font-weight: bold;
	color: white;
}